img{
    max-width: 100%;
    position: relative;
}
h1{
    position: absolute;
    top: 4%;
    left: 38.5%;
    color: rgb(229, 187, 151);
}
h2{
    position: absolute;
    top: 80px;
    right: 100px;
}
h2 a {
    text-decoration: none;
    color: antiquewhite;
}
.poem{
    position: absolute;
    color: beige;
    top: 150px;
    left: 80px;
}
#gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }

  .thumbnail {
    width: 400px;
    height: 400px;
    overflow: hidden;
    position: relative;
  }

  .thumbnail img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s;
  }

  .thumbnail:hover .overlay {
    opacity: 1;
  }

  .overlay p {
    color: #fff;
    margin: 0;
    text-align: center;
  }
